**/.venv
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.git
**/.gitignore
**/.vscode
**/.idea
**/Dockerfile
**/docker-compose.yml
**/README.md
**/tests
**/*.log
**/tmp
**/venv
**/env
**/.env
**/.env.local
**/.env*.local
**/.DS_Store